computer_vision/data
machine_learning/data
deep_learning/PlantVillage
deep_learning/PlantVillage/Potato___Early_blight/*.JPG
LM_finetuning/custom_tokenizer
LM_finetuning/tmp_trainer
LM_finetuning/gpt2-wikitext-finetuned
gcp_spark/*.csv
numpy_pandas/*.csv
time_series_forecasting/*.csv
machine_learning/*.csv
docker_kubernetes/*.joblib

# Byte-compiled / optimized / DLL files
__pycache__/
