week2/data
week1/california_housing_test.csv
week2/mnist_train_small.csv
week4/data
week3/PlantVillage
week5/custom_tokenizer
week5/tmp_trainer
week5/gpt2-wikitext-finetuned
week10/house_price.csv
week10/TATAMOTORS_NSE_1995-2025.csv